<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.UserMapper">

    <select id="selectAll" resultType="com.example.backend.entity.User">
        select * from user
    </select>

    <insert id="newUser" parameterType="com.example.backend.entity.User">
        insert into user (name,email,password,role)
        values (#{name},#{email},#{password},#{role})
    </insert>

    <update id="updateUser" parameterType="com.example.backend.entity.User">
        update user set name = #{name},email = #{email} ,password = #{password},role = #{role}
        where name = #{name}
    </update>
    
    <delete id="deleteUser" parameterType="com.example.backend.entity.User">
        delete from user where name = #{name}
    </delete>
</mapper>